{% extends "index.html" %} {% load static %} {% block main %}
<div class="main-content card bg-dark">
  <img
    src="static/images/img1.jpg"
    class="card-img"
    alt="AI workspace background"
  />
  <div
    class="card-img-overlay position-absolute top-50 start-50 translate-middle text-center"
  >
    <h1>Welcome to NoteGenius</h1>
    <p class="card-text">
      This is your AI-powered workspace to generate notes, Q&A, and quizzes from
      text, audio, or video.
    </p>
  </div>
</div>
{% endblock %}
